@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

body {
    /* font-size: 100%; */
    background-color: #1E1E1E;
    color: #FFFF;
    font-family: 'Overpass', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.menu {
    display: flex;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: #FFFF;
    font-weight: bold;
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
    color: #EBD512;
}

.content {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFFF;
}

.content-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    background-color: #EBD512;
    width: 8em;
    height: 2.3em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: grey;
}

h1 {
    font-size: 3em; 
}

h2 {
    font-size: 1.3em;  
}

.content-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px; 
    border-top: 0.4px solid #FFF2E7;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    justify-content: space-around;
}

.flex-container > p {
    width: 120px;
    margin: 10px;
    text-align: center;
    /* background-color: blue; */
    padding: 5px;
}

strong {
    color: #EBD512;
}